:root {
  --light-color-text: #ffffff;
  --black-color-text: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
body {
  font-family: Roboto, sans-serif;
}

.container {
  width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.header {
  color: var(--light-color-text);
  background-color: chartreuse;
}

.header-logo {
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header-logo-text {
  font-size: 18px;
  line-height: 21px;
}

.header-contacts {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.header-contacts-link {
  color: #ffffff;
}

.header-logo {
  color: #ffffff;
}

.header-button {
  font-family: inherit;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  padding: 12px 6px;
}

.header-nav-link {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* Hero */

.hero {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 226px 0 33px 0;
  color: var(--light-color-text);
  background-image: url("../img/header-screen.jpg");
}

.hero > h1 {
  color: var(--light-color-text);
  font-family: PT Serif;
  font-weight: 700;
  font-size: 90px;
}

.hero > p {
  font-size: 20px;
  color: var(--light-color-text);
  background-color: yellow;
  line-height: 1.1;
}

.hero-title {
  margin-bottom: 8px;
  font-family: PT Serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  color: var(--light-color-text);
}

.hero-title-p {
  margin-bottom: 94px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 140%;
  color: var(--light-color-text);
}

.hero-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: var(--light-color-text);
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 19px 53px;
  margin: 0 0 184px 0;
  display: inline-block;
}

.hero-down {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}

/* Categories */

.categories {
  padding: 64px;
}

.categories-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--black-color-text);
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -32px;
}

.categories-item {
  width: 256px;
  margin-right: 32px;
  margin-bottom: 32px;
  border: 1px solid #d9d9de;
  border-radius: 6px;
}
.categories-container {
  padding: 13px 19px 16px 19px;
}
/* Directions */

.directions {
  background-color: rgba(112, 207, 41, 0.07);
  padding: 44px;
}

.directions-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.7;
  text-align: center;
  margin-bottom: 50px;
}

.directions-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -33px;
  margin-bottom: -37px;
}
.directions-item {
  width: 252px;
  margin-right: 33px;
  margin-bottom: 37px;
}

.directions-icon {
  margin-bottom: 16px;
}

.directions-title-li {
  font-size: 16px;
  line-height: 1.31;
  color: #333333;
}

/* Suggestions */

.suggestions {
  background-color: green;
}
.suggestions-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
}

.suggestions-title-link {
  color: var(--light-color-text);
}

.suggestions-title-h,
.suggestions-title-p {
  color: var(--light-color-text);
}

.suggestions-title-h {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
}

.suggestions-title-p {
  font-size: 16px;
  line-height: 1.31;
}

.suggestions-title-hh {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.87;
}
/* Map */

.map-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.7;
  margin-bottom: 37px;
  text-align: center;
}

/* About */

.map {
  padding-top: 70px;
}

.about {
  padding-top: 70px;
  padding-bottom: 79px;
}

.about-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  margin-bottom: 21px;
}

.about-p,
.about-p-p {
  font-size: 18px;
  line-height: 1.22;
  color: #333333;
}

.about-p-p {
  margin-bottom: 55px;
}

/* Gallery */

.gallery {
  background-color: rgba(63, 169, 245, 0.07);
}

.gallery-foto {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.7;
}

/* Advantages */

.advantages-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 0.47;
}

.advantages-p {
  font-size: 18px;
  line-height: 1.22;
}

.advantages {
  border-bottom: 1px solid #d9d9de;
}

/* Features */

.features-list {
  display: flex;
  padding-top: 41px;
  padding-bottom: 85px;
}

.features-item {
  margin-right: 50px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-p {
  font-family: PT Serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.05;
  margin-top: 1px;
}

.features-span {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 0.36;
  color: #64bd22;
}

/* Form */

.form-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.7;
}

.form-button {
  background-color: #0061d9;
  color: var(--light-color-text);
}

/* Footer */

.footer {
  background-color: #202020;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--light-color-text);
}

.footer-title-link {
  font-size: 16px;
  line-height: 1.31;
  color: rgba(255, 255, 255, 0.8);
}

.footer-title-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--light-color-text);
}

.footer-title-other {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

.footer-link {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: underline;
}

.footer-link-a {
  font-size: 12px;
  line-height: 1.75;
  color: #ffffff;
}
