:root {
  --light
-color-text: #fffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
body {
  font-family: Roboto, sans-serif;
}

/* Header */

.header {
  color: var(--light-color-text);
  background-color:chartreuse;
}

.header-logo{
    font-family: PT Serif, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.header-logo-text{
    font-size: 18px;
    line-height: 21px;
}

.header-contacts{
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    
}

.header-contacts-link{
    color: #ffffff;
}

.header-logo{
    color: #ffffff;
}

.header-button{
    font-family: inherit;
    color: #ffffff;
    background-color: transparent;
}

.header-nav-link{
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}